// path: frontend/src/components/NexusCore/NexusCore.module.scss
@use './styles/variables' as vars;

.appContainer {
  display: grid;
  // Izgara şablonu: 
  // 2 kolon (sidebar genişliği ve kalan alan)
  // 2 satır (header yüksekliği ve kalan alan)
  grid-template-columns: vars.$sidebar-width 1fr;
  grid-template-rows: vars.$header-height 1fr;
  
  // Hangi alanın nereye geleceğini isimlendiriyoruz.
  grid-template-areas:
    "sidebar header"
    "sidebar main";
    
  height: 100vh; // Tüm ekran yüksekliğini kapla
  width: 100vw;  // Tüm ekran genişliğini kapla
  overflow: hidden; // Ana konteynerde kaydırmayı engelle
}